{% extends "auctions/layout.html" %}
{% block title %}
Create 
{% endblock %}
{% block body %}
<form method="POST" action="{% url 'createListings' %}">
    {% csrf_token %}
    <table>
        {{form.as_table}}
        
    </table>
    
    <label for="category" ><b>Categories:</b></label>
    
    <select name="category" >
        <option disabled selected value> -- select an option -- </option>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category }}</option>
        {% endfor %}
    </select>
    <br>
    
   
<button type="Submit ">
Save
</button>
</form>
{% endblock %}
