{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for item in data %}
    {% if item.closed and item.user_hbid == user %}
    <hr>
     <a href="{% url 'listings' item.id %}" style="text-decoration: none;">
    <h3>{{item.name}}</h3>
    <p>You are the winner of this bid</p>
    <hr>
    </a>
    {% elif not item.closed %}
   <a href="{% url 'listings' item.id %}" style="text-decoration: none;">
    <div >
        <hr>
        <h3>{{item.name}}</h3>
        <img src="{{item.img_url}}"  >
        <p>{{item.desc}}</p>
        <p>Starting Bid: Rs.{{item.starting_bid}}</p>
         {% if item.highest_bid == 0.00 %}
        <p>Current price: Rs.{{item.starting_bid}}</p>
        {% else %}
        <p>Current price: Rs.{{item.highest_bid}}</p>
         {% endif %}
        <hr>
    </div>
   </a> 
    {% endif %}
    {% endfor %}

  

{% endblock %}