{% extends "auctions/layout.html" %} {% block title %} Listings {% endblock %}
{% block body %}
<h1></h1>

<div>
  <hr />
  <h3> {{item.name}}</h3>
   {% if user.is_authenticated and not item.closed %}
  <form method="post" action="{% url 'listings' list_id %}">
    {% csrf_token %}
    <input type="hidden" value="watchlist" name="form_n" />
    <input type="hidden" value="{{user.id}}" name="user_id" />
    <input type="hidden" value="{{item.id}}" name="item_id" />
    {% if item in wishlist %}
    <input type="submit" value="Remove from Watch List" name="act" style="font-size: smaller;"/>
    {% else %}
    <input type="submit" value="Add to Watch List" name="act"  style="font-size: smaller;"/>

    {% endif %}
  </form>
<br>
  {% endif %}
  <img src="{{item.img_url}}" />
  <p>{{item.desc}}</p>
  <p>Starting Bid: Rs.{{item.starting_bid}}</p>
   {% if item.highest_bid == 0.00 %}
        <p>Current price: Rs.{{item.starting_bid}}</p>
        {% else %}
        <p>Current price: Rs.{{item.highest_bid}}</p>
         {% endif %}
  
  <hr />
</div>
{% if user.is_authenticated and not item.closed %}
<form method="post" action="{% url 'listings' list_id %}">
  {% csrf_token %}
  <input type="hidden" value="bid" name="form_n" />
  <input type="number" name="bid_value" />
  <input type="submit" value="Place bid" />
</form>
<hr />
{% endif %} {%if item.user == user and not item.closed %}
<form method="post" action="{% url 'listings' list_id %}">
  {% csrf_token %}
  <input type="hidden" value="close" name="form_n" />
  <input type="submit" value="Close Bid" />
</form>
<hr />
{% endif %} {% if item.closed %}
<h6>This List Item Is Closed</h6>
<hr />
{% endif %} {% if item.user_hbid == user %}
<h6>Your bid is the highest bid</h6>
<hr />
{% endif %}
<hr />
<div>
  <h5>Comments</h5>
  <ul style="list-style: none">
    {% for comment in comments %}
    <li>
      <hr />
      <p>Author : {{comment.user_c.username}}</p>
      <p>Comment: {{comment.comment}}</p>
      <hr />
    </li>
    {% endfor %}
  </ul>
</div>
{%if user.is_authenticated %}
<form method="post" action="{% url 'listings' list_id %}">
  {% csrf_token %}
  <input type="hidden" value="comment" name="form_n" />
  <input type="text" name="comment" required />
  <input type="submit" value="Comment" />
</form>
<hr />
{% endif %} {% endblock %}
